.promocoes__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 26.67px;
    list-style-type: none;
}

.promocoes{
    padding: 32px 12.5%;
    margin-bottom: 40px;
}

.promocoes__titulo{
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 39px;
    line-height: 46.8px;
    color: var(--cor-texto-principal);
    margin-bottom: 40px;
}

.promocoes__list_item{
    box-shadow: 0 4px 24px 0 #7B7B7B26;
}

.promocoes__list_item img{
    width: 100%;
    object-fit: contain;
}

.promocoes__list_item_descricao{
    background-color: var(--cor-texto);
    padding: 16px 24px;
    color: var(--cor-texto-principal);
}

.promocoes__list_item_descricao h4{
    font-family: var(--fonte-titulo);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.promocoes__list_item_descricao p{
    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 31px;
    line-height: 46.5px;
    margin-top: 16px;
}